<div class = "first_chat_area">
      <div class = "chatroom_name">
        <%= @room.name %>
      </div>
      <div class = "exit_button">
        <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
      </div>
</div>

<div class = "second_chat_area">
  <%= render partial: "message", collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: "third_chat_area", local: true do |form| %>
  <div class = "message">
    <%= form.text_field :content, class: "message_box", placeholder: "type a message" %>
    <label class = "form_image">
      <span class = "image_file">画像</span>
      <%= form.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= form.submit "送信", class: "submit_button" %>
<% end %>